Source: scim-anthy
Section: utils
Priority: optional
Maintainer: Ikuya Awashiro <ikuya@oooug.jp>
Uploaders: Rolf Leggewie <foss@rolf.leggewie.biz>, Osamu Aoki <osamu@debian.org>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 7.0.50~), libanthy-dev,
 scim (>= 1.4.6), libscim-dev (>= 1.4.6), autotools-dev, pkg-config,
 dh-autoreconf, libltdl-dev
Standards-Version: 3.9.3
Homepage: http://sourceforge.jp/projects/scim-imengine/
Vcs-Git: git://git.debian.org/collab-maint/scim-anthy.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/scim-anthy.git

Package: scim-anthy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, anthy, scim (<< 1.5)
Recommends: kasumi
Description: SCIM IMEngine module for Anthy
 Smart Common Input Method platform (SCIM) is an input method server
 and a development platform to make Input Method developers' lives
 easier.
 .
 Anthy is a simple and secure input method in Japanese.
 scim-anthy connects Anthy to SCIM.
