#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	dh_auto_build
	$(MAKE) update-gmo -C po

override_dh_auto_install:
	dh_auto_install
	mv $(CURDIR)/debian/scim-anthy/usr/lib/scim-1.0/`pkg-config --variable=scim_binary_version scim`/IMEngine/anthy.a \
	   $(CURDIR)/debian/scim-anthy/usr/lib/scim-1.0/`pkg-config --variable=scim_binary_version scim`/IMEngine/libanthy.a
	mv $(CURDIR)/debian/scim-anthy/usr/lib/scim-1.0/`pkg-config --variable=scim_binary_version scim`/SetupUI/anthy-imengine-setup.a \
	   $(CURDIR)/debian/scim-anthy/usr/lib/scim-1.0/`pkg-config --variable=scim_binary_version scim`/SetupUI/libanthy-imengine-setup.a

override_dh_installchangelogs:
	dh_installchangelogs ChangeLog
	dh_installchangelogs

override_dh_makeshlibs:

