#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- --disable-static

override_dh_auto_build:
	dh_auto_build
	dh_auto_build -- update-gmo -C po

override_dh_makeshlibs:

override_dh_auto_install:
	dh_auto_install
	# these are not used.
	rm debian/scim-anthy/usr/lib/scim-1.0/*/*/*.la
